@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    align-items: flex-end;
  }

  .form-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media screen and (max-width: 768px) {
      padding: 20px 10px;
      height: 80vh;
      border-radius: 20px 20px 0 0;
      animation: slideUp 0.5s ease-out;

      @keyframes slideUp {
        from {
          transform: translateY(100%);
          opacity: 0;
        }

        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
